<form (ngSubmit)="onSaveClick()" #customerForm="ngForm">
    <div class="row">
      <div class="form-group col-md-6 col-lg-3 mb-2">
        <label for="firstname" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstname" placeholder="First Name" required
          [(ngModel)]="customer.FirstName" name="firstname" #firstname="ngModel">
      </div>
      <div class="col-md-6 col-lg-3 mb-2">
        <label for="txtname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastname" placeholder="Second Name"
          [(ngModel)]="customer.LastName" name="lastname" #lastname="ngModel">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-2">
        <label for="address1" class="form-label">Address 1</label>
        <input type="text" class="form-control" id="address1" placeholder="Enter full address"
          [(ngModel)]="customer.Address1" name="address1" #address1="ngModel">
      </div>
      <div class="col-md-6 col-lg-3  mb-2">
        <label for="address2" class="form-label">Address 2</label>
        <input type="text" class="form-control" id="address2" placeholder="Enter full address"
          [(ngModel)]="customer.Address2" name="address2" #address2="ngModel">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-2">
        <label for="city" class="form-label">City</label>
        <input type="text" class="form-control" id="city" placeholder="City" required
          [(ngModel)]="customer.City" name="city" #city="ngModel">
      </div>
      <div class="col-md-6 col-lg-3 mb-2">
        <label for="state" class="form-label">State</label>
        <input type="text" class="form-control" id="state" placeholder="State"
          [(ngModel)]="customer.State" name="state" #state="ngModel">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3  mb-2">
        <label for="country" class="form-label">Country</label>
        <select class="form-control" id="country" required
          [(ngModel)]="customer.Country" name="country" #country="ngModel">
          <option *ngFor="let item of ivCountries" [value]="item">
            {{item.Name}}
          </option>
        </select>
      </div>
      <div class="col-md-6 col-lg-3  mb-2">
        <label for="pincode" class="form-label">Pincode</label>
        <input type="text" class="form-control" id="pincode" placeholder="Pincode" required
          [(ngModel)]="customer.Pincode" name="pincode" #pincode="ngModel">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3  mb-2">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="exmple@email.com" required
          [(ngModel)]="customer.Email" name="email" #email="ngModel">
      </div>
      <div class="col-md-6 col-lg-3  mb-2">
        <label for="phone" class="form-label">Phone</label>
        <input type="text" class="form-control" id="phone" placeholder="Phone number" required
          [(ngModel)]="customer.Phone" name="phone" #phone="ngModel">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 d-flex flex-row-reverse mt-3">
        <button type="button" class="btn btn-secondary mx-2" (click)="onCloseClick()">Close</button>
        <button type="submit" class="btn btn-primary" [disabled]="!customerForm.form.valid">Save</button>
      </div>
    </div>
</form>