<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of ivCustomers; let rowIndex = index">
            <th scope="row">{{rowIndex + 1}}</th>
            <td>{{customer.FirstName}} {{customer.LastName}}</td>
            <td>{{customer.City}}</td>
            <td>{{customer.Email}}</td>
            <td>{{customer.Phone}}</td>
            <td>
                <a class="btn text-success pe-3" (click)="onClickEdit(customer)">
                    <i class="fas fa-edit" aria-hidden="true"></i>
                </a>
                <a href="#" class="text-danger" (click)="onClickDelete(customer)">
                    <i class="fas fa-trash-alt" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
        
