<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100 bg-light">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start py-3" id="menu">
        <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0 text-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="Home">
                <i class="fas fa-home fa-2x"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-0 py-3 align-middle text-primary">
              <i class="fas fa-tachometer-alt fa-2x"></i>
            </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-0 py-3 align-middle text-primary">
            <i class="fas fa-calculator fa-2x"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-0 py-3 align-middle text-primary">
            <i class="fas fa-th-large fa-2x"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-0 py-3 align-middle text-primary">
            <i class="fas fa-user-circle fa-2x"></i>
          </a>
      </li>
    </ul>
</div>
      